<launch>

    <!-- Map Server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find path_planning)/maps/cappero_map.yaml"/>

    <!-- Path Planning Node -->
    <node pkg="path_planning" type="path_planning_node" name="path_planning" output="screen"> </node>
    
    <!-- Load the URDF file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find path_follower)/urdfs/sphere.urdf'" />

    <!-- Path Follower Node -->
    <node pkg="path_follower" type="path_follower_node" name="path_follower" output="screen"/>

    <!-- Launch Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d rviz/rviz_simulation.rviz"/>
</launch>